<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/post.css">
    <title>Document</title>
</head>
<body>
    <form name="input" method="post">
        <!-- 직업명<input type="text" name="JobName" maxlength="10">
        <input type="submit" value="검색" formaction="/search">   -->
        <button type="submit" name="job" value="건슬링어" formaction="/search">건슬링어</button>
        <button type="submit" name="job" value="기공사" formaction="/search">기공사</button>
        <button type="submit" name="job" value="기상술사" formaction="/search">기상술사</button>
        <button type="submit" name="job" value="데모닉" formaction="/search">데모닉</button>
        <button type="submit" name="job" value="데빌헌터" formaction="/search">데빌헌터</button>
        <button type="submit" name="job" value="도화가" formaction="/search">도화가</button>
        <button type="submit" name="job" value="디스트로이어" formaction="/search">디스트로이어</button>
        <button type="submit" name="job" value="워로드" formaction="/search">워로드</button>
        <button type="submit" name="job" value="인파이터" formaction="/search">인파이터</button>
        <button type="submit" name="job" value="버서커" formaction="/search">버서커</button>
        <button type="submit" name="job" value="리퍼" formaction="/search">리퍼</button>
    
    </form>


<table border="1">
    <%
    for(var i=0; i<rows.length; i++)
    {
        var data = rows[i];
    %>
    
    <tr>
        <td><%=data.SkillName%></td>
        <td><%=data.SkillEx%></td>
        <td><img src= "<%=data.SkillThumb%>" alt="이미지" width="100"/></td>
        <td><img src= "<%=data.SkillImg%>" alt="이미지" width="250"/></td>
    </tr>
    <%}
    %>
</table>

</body>
</html>