.Home {
  height: 100vh;
}

.Input {
  margin-top: 50px;
  padding: 20px;
}

.Notice {
  margin-top: 50px;
  padding: 20px;
}

/* Edit */

.Edit {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}

.Edit input,
textarea {
  margin-bottom: 20px;
  width: 500px;
}

.Edit input {
  padding: 10px;
}
.Edit textarea {
  padding: 10px;
  height: 150px;
}

.Edit select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.Edit button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}
