.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  border-bottom: 1px solid lime;
}

.Header a {
  padding-left: 30px;
}

.Header-nav {
  margin-left: 100px;
}
